{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aptitude_test/styles.css' %}">
    <title>Welcome to the Aptitude Test</title>
</head>
<body>
    <div class="background"></div>
    <div class="page-container">
        <h1>Are you ready for your Aptitude Test</h1>
        <h1>Aptitude Test</h1>
        <p>This is a part of the psychometric evaluation used for determining your career path</p>
        <button id="start-button">Start Test</button>
    </div>
    <script src="{% static 'aptitude_test/script.js' %}"></script>
    <div><img src="{% static 'aptitude_test/margika 1.png' %}" alt="margika"></div>
</body>
</html>
